body {
	background-image: url("../img/login-background.jpg");
    background-size: 100vw 100vh;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: purple;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,.4);
    opacity: 0.95;
}

div.comment>h5{
    font-size: 16px;
}
div.comment>p{
    font-size: 15px;
}

#main-container {
    margin-top: 30px;
    width: 50% ; 
}

#post-container {
    margin-top: 70px;
    width: 50% ; 
}

.navbar-brand{
    color: antiquewhite !important;
	font-family: 'Sacramento', cursive;
}
.navbar-brand.welcome-text {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.comment {
    margin-top: 5px;
}

.card-title-block {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.card-title-action {
    margin-left: 1em;
    margin-right: 1em;
}