body {
	background-image: url("../img/login-background.jpg");
    background-size: 100vw 100vh;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.login-content{
	background-color: antiquewhite;
	opacity: 0.85;
	width: 50%;
	border-radius: 20px;
	box-shadow: 5px 5px 5px 5px rgba(0,0,0,.4);
	padding: 2em;
	margin: 5em auto;
}

.login-head {
	color: purple;
	font-family: 'Sacramento', cursive;
}

.footer {
	color: antiquewhite;
}
